body {
	background-color: #EBD859
}

h1 {
	color: green;
	text-align: center;
	border: 2px black;
	font-family: verdana;
	font-size: 400%;
}

h2 {
	color: #006400;
	text-align: center;
	border: 2px black;
	font-family: verdana;
	font-size: 300%;
}

p {
	font-size: 8px;
	color: black;
}

	
