body {
	background-color: #EBD859;
}

h1 {
	color: green;
	text-align: center;
	border: 2px solid black;
	font-family: verdana;
	font-size: 4em;
}

h2 {
	color: #006400;
	text-align: center;
	border: 2px solid black;
	font-family: verdana;
	font-size: 3em;
}

p {
	font-size: 2em;
	color: black;
	text-align: center;
}
